<?xml version="1.0" encoding="UTF-8"?>
<beans>

    <bean id="userDao" class="com.blend.ibt.bean.UserDao" init-method="initDataMethod" destroy-method="destroyDataMethod"/>

    <bean id="userService" class="com.blend.ibt.bean.UserService">
        <property name="uid" value="10001"/>
        <property name="userDao" ref="userDao"/>
        <property name="username" value="123"/>
        <property name="company" value="tc"/>
        <property name="location" value="hz"/>
    </bean>

    <bean class="com.blend.ibt.common.MyBeanFactoryPostProcessor"/>

    <bean class="com.blend.ibt.common.MyBeanPostProcessor"/>

    <bean id="userService2" class="com.blend.ibt.bean.UserService2" scope="prototype">
        <property name="uId" value="10001"/>
        <property name="company" value="tc"/>
        <property name="location" value="bj"/>
        <property name="userDao" ref="proxyUserDao"/>
    </bean>

    <bean id="proxyUserDao" class="com.blend.ibt.bean.ProxyBeanFactory"/>

</beans>